{:deps {org.clojure/clojure {:mvn/version "1.8.0"}}
 :jar
 {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
  :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "recex.jar"]}

 :deploy
 {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
  :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "recex.jar"]}}
